@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-image: url("https://image.freepik.com/free-vector/abstract-black-and-white-grunge-surface-texture-background_54178-819.jpg");
}

.bg-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.reveal {
  opacity: 0.9;
  display: block;
  pointer-events: auto;
  visibility: visible;
}

.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  height: 100px;
  background-image: url(https://www.churchtimes.co.uk/media/5630572/diary.jpg?center=0.25294117647058822,0.547244094488189&mode=crop&width=605&height=292&rnd=132427621190000000);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  width: 100%;
  min-height: 20px;
}

@media (max-width: 1920px) {
  .container {
    max-width: 1680px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

::-webkit-scrollbar-thumb {
  color: transparent;
}

.hamburger-shell {
  margin: 0;
  position: fixed;
  overflow: hidden;
  width: 63px;
  height: 100px;
  overflow: auto;
  left: calc(100% - 100px);
  top: 0px;
  cursor: pointer;
  z-index: 2;
}

.first_ham_line,
.sec_ham_line {
  position: absolute;
  width: 62px;
  height: 10px;
  background-color: black;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  top: 20px;
  z-index: 2;
}

.sec_ham_line {
  top: 40px;
}

.rotate {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  top: 30px;
  background-color: red;
  height: 2px;
}

.rotate-back {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  top: 30px;
  background-color: red;
  height: 2px;
}

.menu {
  z-index: 2;
  position: fixed;
  left: calc( 100% - 292px);
  top: 10px;
  color: black;
  display: none;
  margin: 120px 30px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: #333;
  padding: 24px;
  width: 200px;
  text-align: right;
}

.menu a {
  text-decoration: none;
}

.menu a li {
  text-decoration: none !important;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid black;
  list-style: none;
  color: #555;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.menu a li:hover {
  color: #00abff;
  padding-right: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(98, 247, 232, 0.2)), to(transparent));
  background-image: linear-gradient(0deg, rgba(98, 247, 232, 0.2), transparent);
}

.menu-reveal {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  display: block;
}

.menu-name {
  font-family: Verdana;
  font-weight: 900;
  color: black;
  font-size: 19.5px;
  text-decoration: none;
  position: absolute;
  top: 56px;
  left: -1px;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

.bump {
  top: 64px;
  color: red;
}

.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.elements__header {
  text-align: center;
  line-height: 25.89px;
  font-size: 18px;
  padding: 5px 0;
  border-radius: 0 0 5px 5px;
  background: white;
  -webkit-box-shadow: 1px 1px 2px 1px #02215a;
          box-shadow: 1px 1px 2px 1px #02215a;
}

.elements__body {
  margin: 20px auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.elements__row {
  min-height: 300px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.elements__col {
  min-width: 300px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24.39%;
          flex: 0 0 24.39%;
  border: 0.1vh solid #18816a;
  border-radius: 30px;
  margin: 5px;
}

.content-info {
  background: white;
  -webkit-box-shadow: 1px 1px 2px 1px #02215a;
          box-shadow: 1px 1px 2px 1px #02215a;
}

.content-info__header {
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.4px;
  font-size: 18px;
  line-height: 25.89px;
  color: #240947;
}

.content-info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-info__img > img {
  border: 1px solid #181f81;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-info__text {
  padding: 10px;
  line-height: 25.89px;
  font-size: 14px;
  word-wrap: break-word;
  color: #023113;
}

.content-info__footer {
  width: 100%;
  height: 2vh;
  position: relative;
}

.content-info__footer_underline {
  position: absolute;
  height: 2px;
  width: 100px;
  background-color: #5e80ca;
  top: 0px;
  left: calc((100% - 100px) / 2);
}

.content-info:hover {
  cursor: pointer;
}

.content-info:hover .content-info__footer_underline {
  -webkit-animation: 0.05s tremor linear infinite;
          animation: 0.05s tremor linear infinite;
}

@-webkit-keyframes tremor {
  0%,
  25% {
    top: -1px;
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%);
  }
  50%,
  75% {
    top: 1px;
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%);
    background-color: #00ffc8;
  }
}

@keyframes tremor {
  0%,
  25% {
    top: -1px;
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%);
  }
  50%,
  75% {
    top: 1px;
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%);
    background-color: #00ffc8;
  }
}

.footer {
  width: 100%;
  text-align: center;
  max-height: 20%;
  background-color: #106865;
}

.footer__licenses {
  color: #300e2c;
}

.license__link {
  color: #00ffa2;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */